/* Global */

:root {

  /* size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-small: 16px;

  --logo-size: 2em;
  --avatar-size: 20em;
  /* color */
  --main-color: darkgray; 
}

* {
  box-sizing: border-box;
}

body {
  margin:0;
  cursor: default;
}

a {
  text-decoration: none;
  color:white
}

ul {
  list-style: none;
  padding-left: 0;
}

h1{
  font-size: var(--font-large);
  margin : 16px 0; 
}

h2 {
  font-size: var(--font-medium);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-small);
  margin: 8px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* navbar */

#navbar {
  position: fixed;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background-color:transparent;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.navbar__logo {
  display: flex;
  align-items: center;
}
.navbar__id {
  font-size: var(--font-medium);
  font-weight: bolder;
}

.navbar__img {
  width: 3em;
  height: 3em;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: 4px;
}

.navbar__menu__item.active { 
  border: 1px solid white;
}

.navbar__menu__item:hover {
  background-color: darksalmon;
}

#navbar.back--dark {
  background-color: pink;
}

/* home */

#home {
  background: url("images/pexels-pixabay-531321.jpg") center/cover no-repeat;
  padding: 100px 40px 40px 40px;
  text-align: center;
}

#home.opacity {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius:50%;
  border:1px solid white;
}

.home__title,
.home__description {
  color:white;
}

.home__contact {
  font-size: var(--font-medium);
  font-weight: border;
  margin: 10px;
  padding:8px 24px;
  color: white;
  border-radius: 4px;
  border: 2px solid white;
}


/* about me */

.section {
  text-align: center;
}

.stacks {
  display: flex;
  justify-content: space-between;
}

.stack__image {
  background-color: var(--main-color);
  width: 100px;
  height: 100px;
}

.stack {
  width: 200px;
}

/* skills */

.skills { 
  background-color: yellowgreen;
}

.skills__table {
  display: flex;
}

.skills__left {
  flex-basis: 60%;
  background-color: darkcyan;
}

.skills__right {
  flex-basis: 40%;
  background-color: darkgreen;
}


.skill__html {
  display: flex;
  justify-content: space-between;
}